body
{
    position:relative;
    -webkit-perspective: 150em;
    -ms-perspective: 150em;
            perspective: 150em;
    -webkit-perspective-origin: 40.3% 67.3%;
        -ms-perspective-origin: 40.3% 67.3%;
            perspective-origin: 40.3% 67.3%;
    background-color: rgb(170, 204, 247);
}

#yline
{
    width:1px;
    height: 100%;
    background-color: rgb(99,255,255);
    position: absolute;
    left: 40.0%;
}

#xline
{
    height:1px;
    width: 100%;
    background-color: rgb(99,255,255);
    position: absolute;
    top: 67.4%;
}

iframe
{
    -webkit-transform: translate(-1000px,-1000px);
        -ms-transform: translate(-1000px,-1000px);
            transform: translate(-1000px,-1000px);
}

html, body
{
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}

@-webkit-keyframes sleep-sound-01 {
    from {
        -webkit-transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
                transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
    }

    to {
        -webkit-transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
                transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
    }
}

@keyframes sleep-sound-01 {
    from {
        -webkit-transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
                transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
    }

    to {
        -webkit-transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
                transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
    }
}

@-webkit-keyframes sleep-sound-02 {
    from {
        -webkit-transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
                transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
    }

    to {
        -webkit-transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,1080deg);
                transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,1080deg);
    }
}

@keyframes sleep-sound-02 {
    from {
        -webkit-transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
                transform: translate3D(40%,-55%,115em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,540deg);
    }

    to {
        -webkit-transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,1080deg);
                transform: translate3D(0%,0%,0em) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,1080deg);
    }
}

#rect
{
    width: 20em;
    height: 10em;
    display: block;
    top: 62%;
    left: 27.6%;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
        -ms-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: translate3D(0%,0%,0) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
        -ms-transform: translate3D(0%,0%,0) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
            transform: translate3D(0%,0%,0) rotate3D(0,0,1,-45deg) rotate3d(1,-1,0,0deg);
    -webkit-animation:
        sleep-sound-01 160.93s cubic-bezier(.75,0,1,1) 0s 1,
        sleep-sound-02 224.07s cubic-bezier(0,.75,1,1) 160.9301s 1;
            animation:
        sleep-sound-01 160.93s cubic-bezier(.75,0,1,1) 0s 1,
        sleep-sound-02 224.07s cubic-bezier(0,.75,1,1) 160.9301s 1;
}

.rect-side
{
    height:10em;
    position: absolute;
}

.rect-side-back, .rect-side-front, .rect-side-top, .rect-side-bottom
{
    width:20em;
}

.rect-side-right, .rect-side-left
{
    width:10em;
}

.rect-side-front
{
    -webkit-transform: translate3d(0, 0, 5em);
        -ms-transform: translate3d(0, 0, 5em);
            transform: translate3d(0, 0, 5em);
    background-color: rgba(229, 162, 177, 1);
}

.rect-side-right
{
    -webkit-transform: translate3d(15em, 0, 0em) rotateY(90deg);
        -ms-transform: translate3d(15em, 0, 0em) rotateY(90deg);
            transform: translate3d(15em, 0, 0em) rotateY(90deg);
    background-color: rgba(237, 179, 193, 1);
}

.rect-side-back
{
    -webkit-transform: translate3d(0, 0, -5em);
        -ms-transform: translate3d(0, 0, -5em);
            transform: translate3d(0, 0, -5em);
    background-color: rgba(229, 162, 177, 1);
}

.rect-side-left
{
    -webkit-transform: translate3d(-5em, 0, 0em) rotateY(-90deg);
        -ms-transform: translate3d(-5em, 0, 0em) rotateY(-90deg);
            transform: translate3d(-5em, 0, 0em) rotateY(-90deg);
    background-color: rgba(237, 179, 193, 1);
}

.rect-side-top
{
    -webkit-transform: translate3d(0, -5em, 0em) rotateX(90deg);
        -ms-transform: translate3d(0, -5em, 0em) rotateX(90deg);
            transform: translate3d(0, -5em, 0em) rotateX(90deg);
    background-color: rgba(213, 146, 161, 1);
}

.rect-side-bottom
{
    -webkit-transform: translate3d(0, 5em, 0em) rotateX(90deg);
        -ms-transform: translate3d(0, 5em, 0em) rotateX(90deg);
            transform: translate3d(0, 5em, 0em) rotateX(90deg);
    background-color: rgba(213, 146, 161, 1);
}


@media screen and (min-width: 2000px) {
    body { font-size: 1.5em}
}

@media screen and (max-width: 1024px) {
    body { font-size: .8em}

    #rect { left: 18%; }
}

@media screen and (max-width: 768px) {
    body { font-size: .5em}

    #rect { left: 14%; }
}

@media screen and (max-width: 320px) {
    body { font-size: .25em}

    #rect { top: 64%; left: 2%; }
}
